body {
    font-family: sans-serif;
}

header {
    max-width: 58rem;
    margin: 0 auto;
}

ul.menu {
    background-color: #191919;
    color: #f5f5f5;
}

ul.menu a{
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem;
}

@media screen and (min-width: 30rem) {
    ul.menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul.menu li {
        /*border: 1px solid white;*/
        flex-grow: 1;
        flex-basis: auto;
        text-align: center;
    }
}
